<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDbInteraction" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52252/DbInteraction.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDbInteraction"
                contract="DbInteractionNamespace.IDbInteraction" name="BasicHttpBinding_IDbInteraction" />
        </client>
    </system.serviceModel>
</configuration>